
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
	margin: 0;
	padding: 0;
}
/*start Actualite */

/* ph-actualite */
.ph-actualite-background {
    background-image: url("picture/zzz.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25%;
    box-shadow:
    inset 0 10px 10px #FF5C00, 
    inset 10px 0 10px #FF5C00 ,
    inset 0 -10px 10px #FF5C00;
}
/* end ph-actualite*/

.actualite-container{
    background-color: #000;
    color: #fff;
    box-shadow:   inset 0 10px 10px #FF5C00, 
    inset -10px 0 10px #FF5C00 ,
    inset 10px 0 0px transparent ,
    inset 0 -10px 10px #FF5C00;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.actualite-container h1{
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    text-shadow: -1px -1px 0 #FF5C00, 1px -1px 0 #FF5C00, -1px 1px 0 #FF5C00, 1px 1px 0 #FF5C00;
  }
.news{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    
    margin: 20px auto;
    justify-content: center;
    gap: 40px;
}
.new{
    background-color: #171616;
    height: 400px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
}
.new-thumb{

    width:80%;
    
    
}
.new-thumb img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.new-descirption{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.new-descirption h5{
    font-family:Inter ;
    font-size: small;
    color: #746F6B;
}
.new-descirption p{
    font-weight: bold;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 5px auto 90px;
}
.pagination button{
    background-color: #FF5C00;
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    
}
/*end Actualite */





@media  (max-width: 800px) {
   .new{
    width: 95%;
    background-color: #000;
    border: 1px solid white;
    border-radius: 20px;
   }
   .ph-actualite-background {
    background-image: url("picture/zzz.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* width: 100%;
    height: 100vh; */
    background-position: center;
    padding: 20%;
    box-shadow:
    inset 0 10px 10px #FF5C00, 
    inset 10px 0 10px #FF5C00 ,
    inset 0 -10px 10px #FF5C00;
}
  }