@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Jacques+Francois+Shadow&family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
	margin: 0;
	padding: 0;
}
/* HOME */

/* ph-home */

.ph-home-background {
  background-image: url("picture/2150706403.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20%; /* ajoute la marge */
  text-align: center;
  color: #fff;
  border-top: 13px solid #630A0A;
  border-left: 13px solid #630A0A; 
  border-bottom: 13px solid #630A0A;
}


.ph-home-background h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: #E56272;
    padding-top: 10px;
    font-size: 40px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.ph-home-background h2{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-shadow: -1px -1px 0 #E56272, 1px -1px 0 #E56272, -1px 1px 0 #E56272, 1px 1px 0 #E56272;
}






/* end ph-home*/

/* start login */
.login-container{
  background-color: #000;
  height:130vh;
  width: auto;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 13px solid #630A0A; 
  border-bottom: 13px solid #630A0A;
   
    
}
.login-container h1{
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  text-shadow: -1px -1px 0 #630A0A, 1px -1px 0 #630A0A, -1px 1px 0 #630A0A, 1px 1px 0 #630A0A;
}
.img-thumb{
  display: flex;
  justify-content: center;
  height: auto;
}
.img-thumb img{
  
    height: 30rem;
    width: 30rem;
    
}
.txt-login{
    color: white;
    font-weight: 90;
    display: flex;
    flex-direction: column;
    padding: 80px;
    gap: 25px;
    border-radius: 20px;
    border: 2px solid white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
    transition: background-color 0.9s ease;
}
.txt-login:hover {
  background-color: #000;
  transform: scale(1.1);
  transition: background-color 0.9s ease, transform 0.8s ease;
}

.txt-login h4{
  font-size: 20px;
  font-family: 'Jacques Francois Shadow', serif;
}
.txt-login input{
    /* width: 70%;  */
    height: 4vh;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #202020;
    
}
.login{
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 20px auto;
  
  
}
.btn-login{
  display: flex;
  justify-content: space-around;
}
.btn-login a{
    
  width: 30%;
  /* height: vh; */
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #630A0A;
  border: none;
  text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
}
.btn-login :hover {
  background-color: #e74c3c;
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
/* end login */
/* end home */

@media  (max-width: 1100px) {
  .login{
    width: 95%;
  }
  .login-container{
    background-color: #000;
    height:90vh;
    width: auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 13px solid #630A0A; 
    border-bottom: 13px solid #630A0A;
     
      
  }
  .txt-login{
    color: white;
    font-weight: 90;
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 25px;
    border-radius: 20px;
    border: 2px solid white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
  }
  
  .img-thumb img{
  
    width: 16rem;
    height: 16rem;
}
.login{
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}
.ph-home-background h1{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  color: #E56272;
  font-size: 12px;
}
.ph-home-background h2{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;

}

}