* {
	margin: 0;
	padding: 0;
}
/* HOME */

/* ph-home */

.ph-home-background {
    background-image: url("picture/2150706403.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 320px; /* Ajoute de la marge interne pour afficher le contenu correctement */
    text-align: center; 
    color: #fff; 
    border-top: 10px solid  #630A0A; 
    border-bottom: 10px solid #630A0A;
    border-left: 10px solid #630A0A;
    
    /* Effet néon sur la bordure */
    box-shadow: inset 3px 10px 5px #630A0A, inset 3px -5px 20px 1px #630A0A, inset 0 1px 20px #630A0A;

}

.ph-home-background h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: #E56272;
    font-size: 40px;
}
.ph-home-background h2{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}






/* end ph-home*/

/* start login */
.login-container{
    background-color: #000;
    height:100vh;
    width: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 3px 10px 5px #630A0A, inset 3px -5px 20px 1px #630A0A, inset 0 1px 20px #630A0A;
    border-right: 10px solid #630A0A; /* Border only on the right side */
    border-bottom: 10px solid #630A0A; /* Border only on the bottom */
}
.login-container h1{
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.img-thumb{
  display: flex;
  justify-content: center;
  height: auto;

  /* border: 1px solid green; */
}
.img-thumb img{
  
    height: 30rem;
    width: 30rem;
}
.txt-login{
  color: white;
    font-size: 34px;
    font-family: Inter;
    font-style: italic;
    font-weight: 90;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding-top: 50px;
    gap: 30px;
  
}
.txt-login input{
  display: flex;
  flex-direction: column;
  /* width: 25%; */
    height: 5vh;
    padding: 5px 20px;
    background-color: #202020;
    
}
.login{
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* border: 1px solid red; */
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 20px auto;
  
  
}
.btn-login a{
    /* background-color: #630A0A; */
    
}

/* end login */
/* end home */