@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
	margin: 0;
	padding: 0;
}
/* start jeux */
.ph-jeux-background{
    background-image: url("picture/REM.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25%; 
    color: #fff; 
    border-top: 13px solid #FFE604;
    border-left: 13px solid #FFE604; 
    border-bottom: 13px solid #FFE604;
}

.jeux-container{
    background-color: #000;
    color: #fff;
    /* width: 130%; */
    border-right: 13px solid #FFE604; 
    border-bottom: 13px solid #FFE604;
}
.jeux-container h1{
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 60px;
    width: 90%;
    gap: 30px;
    /* border: 1px solid red; */
    text-align: center;
    text-shadow: -1px -1px 0 #FFE604, 1px -1px 0 #FFE604, -1px 1px 0 #FFE604, 1px 1px 0 #FFE604;
}
.jeux-container text{
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.jeux{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    /* border: 1px solid red; */
    margin: 80px auto;
    justify-content: center;
    gap: 40px;
}
.jeu{
    background-color: #171616;
    width: 45%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.jeu:hover{
    background-color:  #2e2c2c;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;

}
.jeu-description{
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 7px 15px;
}
.jeu-thumb img{

    border-radius: 5px;
}
.jeu-description p{
    font-family:Inter ;
    font-size: 15px;
}
.jeu-description a{
    /* border: 1px solid rgb(255, 255, 255); */
    text-decoration: none;
    color: #FFE604;
    font-size: 15px;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    /* margin: 5px auto 0px; */
    padding-bottom: 40px;
}
.pagination button{
    background-color: #FFE604;
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease;
}
.pagination button:hover{
    background-color:#fae84a;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;

}

/*end jeux */

@media  (max-width: 1100px) {
    .jeu{
     width: 90%;
     background-color: #000;
    display: flex;
    
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 12px;
    }
    .jeu-thumb{
        padding-top: 10px;
    }
    .ph-jeux-background{
        background-image: url("picture/REM.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20%; /* ajoute la marge */
        text-align: center; 
        color: #fff; 
        border-top: 13px solid #FFE604;
        border-left: 13px solid #FFE604; 
        border-bottom: 13px solid #FFE604;
        
        
    
    }
}
