@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
	margin: 0;
	padding: 0;
}

/* start navbar */
.navbar {
    background-color: #000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#logo img {
    width: 120px; /* Ajuster la taille dyal logo  */
    padding-left: 30px;
	
}

#menu-toggle {
    color: rgb(175, 40, 163);
    width: 50px;
    font-size: 20px;
    cursor: pointer;
    
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}
.sidebar{
    width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #333;
	overflow-x: hidden;
	transition: 0.5s;
}


	
		  
		  
		  .sidebar {
			width: 0;
			height: 100%;
			position: fixed;
			top: 90px;
			right: 0px;
			bottom: 2px;
			background-color: #333;
			overflow-x: hidden;
			transition: 0.5s;
			
		  }
		  
		  .sidebar ul {
			list-style: none;
			padding: 27px 0px;
		  }
		  
		  .sidebar li {
			padding: 10px 15px;
		  }
		  
		  .sidebar a {
			color: white;
			text-decoration: none;
			display: block;
			transition: 0.3s;
			top: 55px;
		  }
		  
		  .sidebar a:hover {
			background-color: #555;
		  }
		  
		  .sidebar.active {
			width: 250px;
		  }
/* end navbar */









/* start footer */
.footer-container-home{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 25vh;
  /* border-top: 10px solid #630A0A; */
  color: white;
  box-shadow:
    inset 0 10px 10px #630A0A, /* Bordure en haut */
    inset 10px 0 10px #630A0A ,
    inset 0 -10px 10px #630A0A;
  
}
.footer-container-actualite{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 25vh;
  /* border-top: 10px solid #630A0A; */
  color: white;
  box-shadow:
    inset 0 10px 10px #FF5C00, /* Bordure en haut */
    inset 10px 0 10px #FF5C00 ,
    inset 0 -10px 10px #FF5C00;
}
.footer-container-jeux{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 25vh;
  /* border-top: 10px solid #630A0A; */
  color: white;
  box-shadow:
    inset 0 10px 10px #FFE604, /* Bordure en haut */
    inset 10px 0 10px #FFE604 ,
    inset 0 -10px 10px #FFE604;
}
.footer-container-inscription{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 25vh;
  /* border-top: 10px solid #630A0A; */
  color: white;
  box-shadow:
    inset 0 10px 10px #BE04FF, /* Bordure en haut */
    inset 10px 0 10px #BE04FF ,
    inset 0 -10px 10px #BE04FF;
}
.suivie{
	font-family: Inter;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-self: center;
}
.suivie h4{
	display: flex;
	justify-content: center;
	font-size: 15px;
}
.icons-suivie{
	display: flex;
	gap: 10px;
}
.icons-suivie img{
  height: 2rem;
  width: 2rem;
}

/* end footer */

@media  (max-width: 800px) {
	#logo img {
		width: 100px; /* Ajuster la taille dyal logo  */
		padding-left: 30px;
		
	}
	.sidebar {
		width: 0;
		height: 100%;
		position: fixed;
		top: 80px;
		right: 0px;
		bottom: 2px;
		background-color: #333;
		overflow-x: hidden;
		transition: 0.5s;
		
	  }
}